@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName!}";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
    <br />
    <a asp-controller="Posts" asp-action="Create" class="btn btn-lg mb-md-5" style="background-color: #adadad">Create a new post</a>
    <div class="row">
        @if (!Model.Categories.Any())
        {
            <h5 class="text-center">There are no categories created yet.</h5>
        }
        else
        {
            foreach (var category in Model.Categories)
            {
                <div class="col-md-4 media">
                    <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title ">
                    <div class="media-body">
                        <h5 class="mt-0"><a style="color:indianred" href="@category.Url">@category.Title.ToUpper() (@category.PostsCount posts)</a></h5>
                        @category.Description
                    </div>
                </div>
            }
        }
    </div>
</div>
